


<div class="container">
      <% @products.each do |product| %>
        <div class="col-sm-6 col-md-4 col-lg-3 product">
          <div class="product-wrap">
            <a href="<%=product_path(product)%>">
              <img src="<%=product.product_image%>" alt="<%=product.product_name%>" class="img-responsive img-rounded">
              <p class="title"> <%=product.product_name%></p>
              <p class="price">$<%=product.product_price%></p>
            </a>
          </div>
        </div>
      <% end %>
</div>